<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!--Estilo da página-->
    <link href="assets/css/login.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <form action="/dashboard" method="post" class="form-signin">
        <h2 class="text-center">Faça seu login</h2>
        <label for="login">Usuário:</label>
        <input type="text" id="login" name="login" class="form-control" placeholder="Digite seu usuario" required autofocus>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" class="form-control" placeholder="Digite sua senha" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
      <!--Fim do formulário-->

    </div> <!--Fim do container-->
  </body>
</html>
