<!--Inicio do navbar-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <!--Inicio do container-->
  <div class="container">
    <!--Inicio do navbar-header-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">JMV</a>
    </div>
    <!--Fim do navbar-header-->

    <!--Inicio do navbar-collapse-->
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/dashboard">Inicio</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
    <!--Fim do navbar-collapse-->
  </div>
  <!--Fim do container-->
</nav>
<!--Fim do navbar-->